g.rule text {
  font-size: 12px;
  fill: #666666 !important;
}
g.ticks text {
  font-size: 1em;
  fill: #666666 !important;
}
.tooltip {
  z-index: 1000;
}
.node-type-data-explorer-page svg:not(:root) {
    overflow: visible;
}


/** CHARTSA JOBS MONITOR **/
.node-type-data-explorer-page .ef-main{
  padding: 30px 0px 40px 0px;
}
.node-type-data-explorer-page .ef-main .button-group, 
.node-type-data-explorer-page .ef-main .action-links {
    padding:0 15px !important;
}
.node-type-data-explorer-page #page-title{
  display: none;
}
.filters-jm-chart, .jm-back-button {
  margin: 0;
  padding: 0;
  float: left;
  display: inline-block;
}
.jm-back-button{
  padding: 15px 25px;
  text-align: center;
}
.jm-charts, .jm-abstract-wrapper{
  margin: 0;
  padding: 0;
  display: inline-block;
}
.jm-abstract-wrapper{
  padding: 15px 25px;
}
.jm-charts{
  background: #F1F4F8;
  padding: 30px 15px;
}

.jm-filters-chart {
  background: #E9EDF3;
  overflow: auto;
}
.filters-jm-chart {
  padding: 90px 0 0 0;
}
.filters-jm-chart  i.fa.fa-filter {
    margin-right: 5px;
    margin-left: 15px;
}
.filters-jm-chart  i.fa.fa-angle-down{
  float: right;
}


.filters-jm-chart  legend{
  background-color: transparent !important;
  color: #212121 !important;
  border-top: 1px dotted #666;
  cursor: pointer;
}
.filters-jm-chart  legend:hover, 
.filters-jm-chart  legend.opened:hover{
  background-color: #FFF !important;
  -webkit-transition: all 0.8s; /* Safari */
  transition: all 0.8s;
}
.filters-jm-chart  legend.opened{
  background-color: #F1F4F8 !important;
  border-bottom: 1px dotted #666;
}
.filters-jm-chart fieldset:last-child legend{
   border-bottom: 1px dotted #666;
}

.filters-jm-chart  legend.opened .fa-angle-down:before{
  content: "\f106";
}
.filters-jm-chart  fieldset{
  border:none !important;
  margin: 0;
}

.filters-jm-chart .group-filters {
  padding: 15px 15px 15px 45px;
  display: none;
}
.filters-jm-chart  legend.opened ~ .group-filters{
  display: block;
}
.breakdown-text, .country-text, .time-period-text{

}
.filters-jm-chart .group-filters  label {
    font-size:14.4px;
}

.filters-jm-chart .group-filters  select {
    border: 1px solid #CCC;
    border-radius: 0;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    padding: 0.5em !important;
    height: auto;
    color: #222;
}
.filters-jm-chart .group-filters select::-ms-expand {
    display: none;
}
.filters-jm-chart .group-filters  select option[disabled]{
    color: #CCC;
}
.jm-methodology-wrapper{
  padding: 45px 25px 15px;
}
.jm-charts h2:first-child{
  margin-top: 0px;
  margin-left: 10px;
}
.jm-footnote:empty {
  display: none;
}
.jm-footnote {
  margin: 1rem 40px 0 12px;
  display: block;
}
.jm-footnote h3{
  font-family: 'OpenSans-Semibold-webfont' !important;
  font-size: 16px !important;
  color: #212121 !important;
}

/** European Quality of Life Survey 2016 **/
.chart-wrapper{

}
.chart-wrapper .tick text{
  font-size: 12px;
}
.chart-wrapper .lollipop-line {
  stroke: #e8e6e6;
  stroke-width: 12px;
  opacity: 0.75;
}
.chart-wrapper .lollipop-line.highlighted{
    stroke: #b6b6b6  !important;
}
.chart-wrapper .highlighted{
  font-weight: bold;
}
.chart-wrapper .highlighted  text {
  font-size: 14px;
  fill: #eb8b0b  !important;
}

.chart-wrapper circle.lollipop-start {
  fill:#A4CA43;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.chart-wrapper .lollipop-end {
  fill: #529DDA;
  -webkit-transition: all 1s;
  transition: all 1s;
}    
.chart-wrapper .lollipop-median {
  fill:#BB1E8C;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.chart-wrapper .grid-line{
  stroke: #b3b7bd;
  stroke-width: 1px;
}







@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
  .jm-charts {
      background: #F1F4F8;
      padding: 30px 15px 60px;
  }
  .jm-back-button {
      padding: 15px 7px;
  }
  .filters-jm-chart .group-filters {
    padding: 15px;
  }
  .jm-charts-wrapper .back-to-results-block a{
    padding: 10px 0 7px !important;
  }
  .jm-charts-wrapper  .boxed-block {
      margin-top: 7px;
      margin-left: 15px;
  }
  .filters-jm-chart i.fa.fa-filter {
    margin-left: 5px;
  }
  g.rule text {
      font-size: 10px !important;
  }
}

@media only screen and (max-width : 767px) {

  #ejm-chart > svg > g{
    transform: translate(50px,10px) !important;
  }
  #ejm-chart > svg > g > text{
    /*transform: rotate(-90deg) translate(-125px,17px) !important;*/
    font-size: 9px;
  }
  .jm-back-button {
    width: 100%;
  }
  .filters-jm-chart{
    width: 100%;
  }
  .filters-jm-chart {
    padding: 0 0 25px;
  }
  .filters-jm-chart legend {
    padding: 15px !important;
  }
  .jm-filters-chart {
    overflow:initial;
    -ms-overflow:hidden;
  }
  .jm-charts{
    padding: 30px 15px 60px;
  } 
  .jm-charts-wrapper .row{
    overflow:auto;
  }
  .back-to-results-block{
    box-shadow: none !important;
  }
  .jm-charts-wrapper .back-to-results-block a{
    background: #f2f2f2 !important;
    color: #000 !important;
    border-radius: 0 !important;
    border: 1px solid #CFCFCF !important;
  }
  g.rule text {
      font-size: 10px;
      fill: #666666 !important;
  }
}
@media only screen and (max-width : 480px) {
  #ejm-chart > svg > g{
    transform: translate(24px,10px) !important;
  }
  #ejm-chart > svg > g > text{
    transform: rotate(-90deg) translate(-195px,17px) !important;
  }
  #ejm-chart > svg > g > rect{
    width: 91% !important;
  }
  g.rule text {
    font-size: 7px;
  }
  #ejm-chart  > svg > g > g.legend > g text{
    font-size:8px !important;
  }
  #ejm-chart  > svg > g > g.legend > g:nth-child(1){
    transform:translate(-30px, 0px) !important;
  }
  #ejm-chart  > svg > g .legend > g:nth-child(2){
    transform:translate(40px,0px) !important;
  }
  #ejm-chart  > svg > g .legend > g:nth-child(3){
    transform:translate(120px,0px) !important;
  }
  #ejm-chart  > svg > g .legend > g:nth-child(4){
    transform:translate(200px,0px) !important;
  } 
  .jm-footnote {
    margin: 3rem 12px 0 12px;
    display: block;
  }
}
@media only screen and (max-width: 414px){
  #ejm-chart > svg > g {
      transform: translate(30px,10px) !important;
  }
  #ejm-chart > svg > g > text{
    transform: rotate(-90deg) translate(-171px,17px) !important;
  }
}
@media only screen and (max-width : 400px) {
  #ejm-chart > svg > g{
    transform: translate(25px,10px) !important;
  }
  #ejm-chart > svg > g > text{
    transform: rotate(-90deg) translate(-150px,17px) !important;
  }
  #ejm-chart > svg > g > rect{
    width: 91% !important;
  }
  g.rule text {
    font-size: 7px;
  }
  #ejm-chart  > svg > g > g.legend > g text{
    font-size:8px !important;
  }
  #ejm-chart  > svg > g > g.legend > g:nth-child(1){
    transform:translate(-30px, 0px) !important;
  }
  #ejm-chart  > svg > g .legend > g:nth-child(2){
    transform:translate(40px,0px) !important;
  }
  #ejm-chart  > svg > g .legend > g:nth-child(3){
    transform:translate(120px,0px) !important;
  }
  #ejm-chart  > svg > g .legend > g:nth-child(4){
    transform:translate(200px,0px) !important;
  } 
  .jm-footnote {
    margin: 3rem 40px 0 12px;
    display: block;
  }
}
@media only screen and (max-width : 320px) {
  #ejm-chart > svg > g > text{
    transform: rotate(-90deg) translate(-115px,17px) !important;
  }
}
@media only screen and (max-width : 300px) {
  #ejm-chart > svg > g > text{
    transform: rotate(-90deg) translate(-110px,17px) !important;
  }
}