
.block.block-facetapi{
	background-color: #fff;
    padding: 20px;
}

#views-exposed-form-search-site{
	
	background-color: -ms-linear-gradient(top, #F87F20 0%, #EBA03A 100%);
	background-color: -moz-linear-gradient(top, #F87F20 0%, #EBA03A 100%);
	background-color: -o-linear-gradient(top, #F87F20 0%, #EBA03A 100%);
	background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F87F20), color-stop(1, #EBA03A));
	background-color: -webkit-linear-gradient(top, #F87F20 0%, #EBA03A 100%);
	background-color: linear-gradient(to bottom, #F87F20 0%, #EBA03A 100%);

	padding: 10px;
}
