# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
solar/*

# Ignore site configuration files
robots.txt
.htaccess
sites/all/themes/effoundationtheme/js/GA/EF.analytics.php

