
.page-car-nc-autocreation #edit-country2 .form-type-checkbox > input{
	visibility: hidden;
}

.page-car-nc-autocreation #edit-country2 .form-type-checkbox label > i {
    margin-right: 5px;
}

.page-car-nc-autocreation #edit-country2 .large-3.column.countries-col {
    
    min-height: 200px;
}

 /* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40.063em) { 

	.page-car-nc-autocreation #edit-country2 .large-3.column.countries-col {
	    
	    min-height: 160px;
	}

}

#remove-back{
	display: none;
}
