.timeSeriesMetaData {
    text-align: left;
    margin:10px;
}

.timeSeriesMetaData .field-content{
	font-size: 0.85em;
}

.timeSeriesMetaData > div{
	display: inline;
	font-size: 0.85em;
}

.views-field-field-scope-employee, .views-field-field-sector{
	margin:15px;
}

.views-field-edit-node{
	display: inline-block;
}

#edit-country-tid-wrapper{
	display: none !important;
}
#edit_sector_chosen{
	padding-top:0px !important;
}
.chosen-single, .chosen-container-single {
	max-width:220px !important;
}
.form-item label {
    margin-right: 18%;
}
.views-exposed-widget {
    width: 32.5%;
}

.views-exposed-widget > .views-widget {
    margin-top: 8px;
}

.form-radios .form-item, .view-filters .views-exposed-form label {     
    display: inline !important;  
}


.views-submit-button{
	display: none !important;
}
.view-display-id-variables_attachment {
    font-size: 0.8em;
    display:none;
}
.view-cwb-time-series .view-display-id-variables_attachment h4{
    font-size: 1.1em !important
}
.view-cwb-time-series .view-display-id-variables_attachment p{
    font-size: 1.05em !important
}

#edit-variables-wrapper, #edit-field-variables-tid{
	display:none;
}
#edit-field-variables-tid-wrapper{
	float: right;
}

#edit-variable-type-wrapper{
		float: left;
}
 


.views-field-field-provider-of-database{
	display:inline-block;	
}

.views-field-field-provider-of-database, .views-field-field-type-of-data .views-field-field-sector-covered-by-agreemen{
	display:inline-block;
}

#edit-scope-employee{
  width:255px
}
#edit-series-id{
	width:86px
}


.cwb_visualization{
	margin-top:30px;
}

h3 span{
 font-size: 0.8em;
}

h3{
 font-size: 1.4em;
}
h3 span a{
 font-size: 1.4em;
}

.time-series-by-year{
	margin-left:15px
}





#views-exposed-form-cwb-outcomes-page #edit-scope-employee {
    width: 539px !important;
}

#views-exposed-form-cwb-outcomes-page #edit-variable-type-wrapper div{
	display:inline-block;	
}

#views-exposed-form-cwb-outcomes-page #edit-variable-unit-wrapper{
	display:none;
}

.views-field-field-scope-employee, .views-field-field-sector{
 display: inline-block !important;
}

 