

#views-exposed-form-webform-submissions2-procurement-submissions-view .views-widget-filter-field_webform_type_tid {
  width: 20%;
}
#views-exposed-form-webform-submissions2-procurement-submissions-view .views-widget-filter-field_webform_type_tid label:before{
  content: "\f022";	
  font-family: 'fontawesome';
  font-size: 1.2rem;
  margin-right: 0.5rem;
  color: #12559e;
}

#views-exposed-form-webform-submissions2-procurement-submissions-view #edit-date-filter-wrapper label:before, 
#views-exposed-form-webform-submissions2-procurement-submissions-view #edit-date-filter-1-wrapper label:before{
	font-family: 'fontawesome';
  content: "\f073";
  font-size: 1.2rem;
  margin-right: 0.5rem;
  color: #12559e;
}
#views-exposed-form-webform-submissions2-procurement-submissions-view .form-item-negotiated-procedures{
  float: left;
  width: 43%;
}
#views-exposed-form-webform-submissions2-procurement-submissions-view .form-item-negotiated-procedures label:before{
	content: "\f1b3";
  font-family: 'fontawesome';
  font-size: 1.2rem;
  margin-right: 0.5rem;
  color: #12559e;
}
#views-exposed-form-webform-submissions2-procurement-submissions-view label{
  font-family: 'OpenSans-regular-webfont';
  font-size: 1.2em;	
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 1280px) {
  #views-exposed-form-webform-submissions2-procurement-submissions-view .form-item-negotiated-procedures{
    float: left;
    width: 40%;
  }
}
@media only screen and (max-width: 1175px) {
  #views-exposed-form-webform-submissions2-procurement-submissions-view .form-item-negotiated-procedures{
    float: left;
    width: 100%;
    padding: 0em 0.8em;
  }
}