.publication-date-popup .ui-datepicker-calendar{
	display:none;
}
.orange-formatting {
	border: 2px solid #F99E35;
}
.orange-link{
	color: #F99E35 !important;
	font-size: 1.2em;
	text-align: left;
	padding: 18px 60px 18px 15px;
	display: block;
	background: url('package.gif') no-repeat 98%;	
}

.field-name-field-ef-document .file a{
	padding: 18px 30px 18px 15px !important;
	color: #fff;
	margin: 0px;
	padding-right: 0px;
	display: block;
} 
.field-name-field-ef-document .file a:after{
	content: "\e62a";
	color: #fff;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 1.8em;
}
/* */
/* @group PUBLICATIONS----------*/
#node_ef_publication_full_group_ef_node_details{
	width: 100%;
}
#node_ef_publication_full_group_ef_node_details .field{
	padding-left: 30%!important;
	line-height: 1.1em;
	overflow: hidden;
	text-align: left;
}
#node_ef_publication_full_group_ef_node_details .label-inline{
	font-family: 'OpenSans-Semibold-webfont',Arial,Helvetica,sans-serif;
}
#node_ef_publication_full_group_ef_node_details a{
  margin-right:3px;
  padding-bottom: 4px;
}
#node_ef_publication_full_group_ef_node_details .topic-list li a:after{
	content: "; ";
}
#node_ef_publication_full_group_ef_node_details li:last-child .topic-list li a:after{
	content: ", ";
}
#node_ef_publication_full_group_ef_node_details .topic-list li:last-child a:after{
	content: "";
}
.node-ef-publication .field-name-publication-preview{
	margin-bottom:25px;
}
.node-ef-publication .field-name-publication-preview img{
	margin-top:0px !important;
}
.node-ef-publication .field-name-field-ef-document .file{
	display: block;
	background-color: #F99E35;
	text-align: left;
	clear: both;
	position: relative;
	font-size: 1.2em;
	margin-bottom:20px;
}
/*.node-ef-publication .field-name-field-ef-document .file .file-icon{
	margin-left: 0px;
}*/
.node-ef-publication .field-name-field-ef-document .file img{display: none;}
.node-ef-publication .field-name-field-ef-document .file:after{
	color: #fff;
	position: absolute;
	top:10px;
	right: 10px;
	font-size:1.8em;
}
.ef-main .node .field .field-name-publication-preview img{
	float: none
}

ul.metadata-publications{
	font-size: 0.9em;
}
ul.metadata-publications > li{
    padding: 12px 0px!important;
    border-bottom: 1px dotted #ccc;
    width: 100%;
    text-indent: 0 !important;
}
ul.metadata-publications li:before {
    content: "" !important;
}
ul.metadata-publications > li > span.label-inline {
    width:20%;
    font-family: 'OpenSans-Semibold-webfont',Arial,Helvetica,sans-serif;
    display: inline-block;
    padding: 0;
    margin: 0;
    text-indent: 0;
}
ul.metadata-publications > li > ul {
    width: 78%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    text-indent: 0;
}
ul.metadata-publications > li > ul li {
    display: inline-block;
    text-indent: 0;
    padding: 0;
}


.field-name-field-term-subscription-url .topic-subscription {
    border:none;
    margin-bottom: 2.5em;
    margin-top: 1em;
    clear: both;
    float: left;
    width: 100%;
}
.field-name-field-term-subscription-url .topic-subscription:hover {
    border: none;
}
.field-name-field-term-subscription-url .topic-subscription a {
    color: #F7931E;
    font-weight: bold;
    display: block;
    padding: 0px 10px 12px 12px;
}
.field-name-field-term-subscription-url .topic-subscription a:hover {
    background: #FFF;
    color: #666;
}
.ef-main .node .field-name-field-ef-main-image img{
	float: none !important;
	margin: 0px 25px 20px 0px !important;
}
.forthcoming-label{
    margin: inherit;
    background: #f7931e;
    padding: 1px 6px;
    text-align: center;
    color: #FFF;
    font-size: 12px;
    letter-spacing: 0;
    border-radius: 4px;
    margin-left: 8px;
    vertical-align: super;
    text-transform: uppercase;
    font-family: 'OpenSans-Semibold-webfont';
}
.field-name-field-ef-main-image img{
	width:100%;
}