.publication-date-popup .ui-datepicker-calendar{
	display:none;
}
.orange-formatting {
	border: 2px solid #F7931E;
}
.orange-link{
	color: #F7931E !important;
	font-size: 1.2em;
	text-align: left;
	padding: 18px 60px 18px 15px;
	display: block;
	background: url('package.gif') no-repeat 98%;	
}