
/* See https://two-wrongs.com/draw-a-tree-structure-with-only-css */

.cfr-drilldown {
  padding-bottom: 10px;
}

.cfr-drilldown > .form-type-select {
  padding: 0;
  margin: 0;
}

.cfrapi-child-options {
  padding: 10px 0 0 32px;
  margin-bottom: 10px;
  position: relative;
}

.cfrapi-child-options > .cfrapi-child-options {
  padding: 0;
}

.cfrapi-child-options::before {
  content: '';
  position: absolute;
  left: 20px;
  border: 1px none #888;
  border-left-style: dotted;
  height: 10px;
  width: 0;
  top: 0;
}

.cfrapi-child-options > div {
  position: relative;
  margin: 0;
  padding-top: 0;
}

.cfrapi-child-options > div > div:first-child {
  padding-top: 0;
  margin-top: 0;
}

.cfrapi-child-options > div::before,
.cfrapi-child-options > div::after {
  content: '';
  position: absolute;
  left: -12px;
  border: 1px none #888;
}

.cfrapi-child-options > div::before {
  border-bottom-style: dotted;
  width: 8px;
  top: 9px;
  height: 0;
}

.cfrapi-child-options > div::after {
  border-left-style: dotted;
  width: 0;
  top: 0;
  bottom: 0;
}

.cfrapi-child-options > div:last-child::after {
  height: 8px;
}
