@charset "utf-8";
/* CSS Document */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:100%;
	margin:0;
	padding:0;
	color:#666;
	overflow-x:hidden !important;

text-rendering: optimizeLegibility;
text-rendering: geometricPrecision;
font-smooth: always;

font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-webkit-font-smoothing: antialiased;
-webkit-font-smoothing: subpixel-antialiased;

	}
	
	
	
/* REDEFINIR ESTILO MENU LATERAL */
#botonMenu{
	display:none;
		}

nav.menu {
  right: -22px;
  list-style: none;
  position: fixed;
  top: 15em;
  z-index:1000;
}

nav.menu #menu li.active a {
  background: #FCB849;
}

nav.menu #menu{
	display:block ;
	top:30%;
	right:-22px;
	width:55px;
	background:url(../images/fondoSlider.png);
	margin:0;
	padding:0;
	list-style:none;
	}

nav.menu #menu li {
	margin:1px 0 0 0;
	}	
nav.menu #menu li a{	
	background:#6ebcea;
	width:265px;
	height:34px;
	line-height:34px;
	font-family: 'Open Sans', sans-serif;
	font-size:85%;
	color:#666;
	display:block;
	opacity:1;
	-webkit-transition: all 1s ease; /* For Safari 3.1 to 6.0 */
    transition: all 1s ease;
	}
nav.menu #menu li a:before {
    background: none repeat scroll 0 0 #6ebcea;
    content: "";
    height: 34px;
    position: absolute;
    width: 34px;

}
nav.menu #menu li a .tooltip{
	text-align:center;
	padding-left:34px;
	width:265px;
	display:inline-block;
	background:#F0F0F0;
	}	

nav.menu #menu li a:hover {
	opacity:1;
	margin-left:-231px;
	width:265px;
    -webkit-transition: all 1s ease; /* For Safari 3.1 to 6.0 */
    transition: all 1s ease;
	}
nav.menu #menu li.active a:before {
    background: none repeat scroll 0 0 #fcb849;
    height: 34px;
    margin-left: 0;
    width: 34px;
}
nav.menu #menu li.active a:hover {
	margin-left:0px;
}
nav.menu #menu li a:hover:before{
	margin-left:0px;
  	background:#FCB849;
}	
	
	
	
	
	
	
p{
		line-height:1.3em;
	}
a{
	color:#666;
	text-decoration:none;
	border:0;
	}
a:hover{
	color:#000;
	text-decoration:none;
	}
.noflotar{
	float:none !important;
	}
.flotarRigth{
	float:right !important;
	}
.noFlotarLeft{
	clear:left;
	}
.limpiar {
  clear: both;
}
img{
	border:none;
	}
h1, h2, h3{
	font-family: 'Open Sans', sans-serif;
	font-size:300%;
	font-weight:lighter;
}

.bold{
	font-weight:bold;
	}
.center{
	text-align:center;
	}
.oculto{
	display:none;
	}
.invisible{
	visibility:hidden;
	}	
.clear{
	clear:both;
	}
	
	
	
	

/* SECTION HEADER */

.header{
	  width: 100%;
	  height: 80px;
	  text-align: center;
	  background:rgba(255,255,255,0.95);
	  position: fixed;
	  z-index: 1;
	  top: 0;
	  left: 0;

	  -webkit-box-shadow: 0 0.063em 0.25em rgba( 37, 50, 55, .25 ); 
	  box-shadow: 0 0.063em 0.25em rgba( 37, 50, 55, .25 ); 

	  
	  -webkit-transition-duration: .5s;
	  transition-duration: .5s;

	  -webkit-transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
	  transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );

	  
	  -webkit-transition-property: -webkit-transform, height, padding-top, padding-left;
	  transition-property: transform, height, padding-top, padding-left;	
			}
			
.header--hidden{
		-webkit-transform: translateY( -100% );
		-ms-transform: translateY( -100% );
		transform: translateY( -100% );
}
.limpiar{
	clear:both;
	display:none;
	}
.logo{
	float:left;
	margin:0;
	padding:0;
	}
.logo a{
	color:#FFF;	
	}
.logo img{
	float:left;
	margin-right:2em;
	}
.share{
	width:40px;
	height:30px;
	margin:1em 2em 0 0;
	padding:0;
	float:right;
	overflow:hidden;
	opacity:0.4;
    -webkit-transition: width 0.5s ease; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s ease;
	}
.share a, .download a{
	float:left;
	color:#FFF;	
	}
.compartirRedesSociales{
	font-size:90%;
	margin:0;
	padding:0;

	}
.compartirRedesSociales li{
	list-style-type:none;
	width:20%;
	float:left;
	padding:0.5em;
	margin:0em;
	text-align:center;
	border-left:1px dotted #ccc;
	background:#f2f2f2;
}
.compartirRedesSociales li:first-child{
	border-left:none;
}
.compartirRedesSociales li a{
	opacity:0.5;
	display:block;
    -webkit-transition: width 0.5s ease; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s ease;
}
.compartirRedesSociales li a:hover{
	opacity:0.9;
    -webkit-transition: width 0.5s ease; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s ease;
}
.compartirRedesSociales li a img{
	width:75%;
}
.activoShare{
	width:200px;
	opacity:1;

-webkit-transition: all 500ms cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
   -moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
     -o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
        transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */

-webkit-transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
   -moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
     -o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
        transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
	}	
	
.download{
	width:40px;
	height:30px;
	margin:1em 0 0 0;
	padding:0;
	float:right;
	overflow:hidden;
	background:rgba(255,255,255,0.95);
	/*opacity:0.6;*/
    -webkit-transition: width 0.5s ease; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s ease;
	}
.activoDownload{
	width:180px;
	opacity:1;
-webkit-transition: all 500ms cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
   -moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
     -o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
        transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */

-webkit-transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
   -moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
     -o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
        transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */

	}
.descargaIdiomas{
	font-size:90%;
	list-style-type:none;
	margin:0;
	padding-top:0.5em;

	}
.descargaIdiomas li{
	float:left;
	width:24px;
	height:32px;
}
.descargaIdiomas li a{
	color:#666;
	font-style:italic;
	display:block;
}
.descargaIdiomas li a:hover{
	background:url(../images/lineaLang.png) no-repeat left bottom;
}




/*	
@-webkit-keyframes fadeInSection {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-moz-keyframes fadeInSection {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-o-keyframes fadeInSection {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeInSection {
	0% {opacity: 0;}
	100% {opacity: 1;}
}


section.active{
    -webkit-animation: fadeInSection 2s; 
    animation: fadeInSection 2s;
	-o-animation: fadeInSection 2s;
	-moz-animation: fadeInSection 2s;
	}	*/
	

.home, .description, .areas, .context, .work, .directors, .hightlights, .facts, .testimonies, .summary{
/*margin-top:80px;*/
	position:relative;
}

	
	
	
	
	
	
	
/* SECTION HOME */	
	
section.home{
	background:#FFF;
	height:100%;
	}
.containerHome{
	/*background:#FFF url(../images/pantallazoHome.jpg) no-repeat center;
	background-size:contain;*/
	height:75%;
	width:100%;
	}
.containerHome img{
	display:block;
	margin:2em auto;
	width:70%;
	}
@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.fadeIn {

    -webkit-animation: fadeIn 5s; /* Chrome, Safari, Opera */ 
    animation: fadeIn 5s;
	-o-animation: fadeIn 5s;
	-moz-animation: fadeIn 5s;
}
	
	
section.home h1{
	color:#0854A0;
	margin:0 2%;
	width:96%;
	padding-top:80px;
	}
h1 .subtitulo{
	color:#6EBCE9;
	}
.bottom{
	position:absolute;
	z-index:10;
	bottom:0%;
	width:100%;
	text-align:center;
	}
	
@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}
	50% {
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}
	50% {
		-webkit-transform: scale(1);
	}
}

@-o-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}
	50% {
		-webkit-transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0.5;
		transform: scale(.3);
	}

	50% {
		opacity: 1;
		transform: scale(1.05);
	}

	60% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}

.siguiente{
	width:44px;
	height:44px;
	background:#6EBCEA;	
	display:block;
	margin:0 auto;
	padding-top:0px;
	font-size:175%;
	text-align:center;
	color:#FFF;
	-webkit-transition: all 0.5s ease; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s ease;

    -webkit-animation: bounceIn 2s infinite; /* Chrome, Safari, Opera */ 
    animation: bounceIn 2s infinite;
	-o-animation: bounceIn 2s infinite;
	-moz-animation: bounceIn 2s infinite;
}
.siguiente:hover{
	padding-top:5px;
	-webkit-transition: all 0.5s ease; 
    transition: all 0.5s ease;	
	
    -webkit-animation: fadeIn 0.5s; /* Chrome, Safari, Opera */ 
    animation: fadeIn 0.5s;
	-o-animation: fadeIn 0.5s;
	-moz-animation: fadeIn 0.5s;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
}	
.tooltipBottom{
	font-size:60%;
	}




	
	
	
	
	
	
	
	
	
	
/* SECTION DESCRIPTION BUSINESS */	
	
section.description{
	font-size:74%;
	width:100%;
	height:100%;
	background:#FFF;
	overflow:hidden;
	/*margin-bottom:6em;*/
	}
.containerText{
		height:100%;
	}
.description h2{
	margin:0.5em 0;	
	}
.containerText{
	width:200%;
	}
.description .bannerDescription{
	background:url(../images/eurofound_business_description.jpg);
	background-size:cover;
	width:50%;
	display:inline-block;
 	height:100%;
	}

.description .bannerDescription .citeDescription{
	color:#FFF;
	font-size:160%;
	width:55%;
	height:100%;
	display:block;
	padding:8% 8% 0 0%;
	background:url(../images/forma_business_2.png) no-repeat;
	background-size:contain;
}
.description .bannerDescription .citeDescription:after, .description .bannerDescription .citeDescription:before  {
  content: " ";
}
.description .bannerDescription .citeDescription span.comillas{
	font-size:1600%;
	float:left;
	position:relative;
	top:-95px;
	margin-left:2%;
}
.description .bannerDescription .citeDescription span.textoCita{
	display:block;
	float:left;
	position:relative;
	font-size:130%;
	font-weight:600;
	width:75%;
	margin-left:4%;
}
.pieImage{
	width:13%;
	font-size:110%;
	color:#000;
	font-style:italic;
	margin:-12em 0 0em 7%;
	}
.description .textDescription{
	display:inline-block;
	width:20%;
	margin:0 2%;
	vertical-align:top;
}
.logoDescription{
	text-align:right;
	}
.logoDescription img{
	width:28%;
	}
.description .textDescription img.imagenCompleta{
	width:60%;	
	margin-left:20%;
	}
.description .title{
	font-size:350%;
	color:#D52F42;
	margin:0.4em 0 0.6em 0;
	padding:0;
}
.resaltado{
	color:#556185;
	font-weight:600;
	}
strong{
	font-weight:bolder;
	}
/*.description:hover .slideMenuRegulation{
	top:-7%;
	background-color:rgba(255,255,255,0.8);
    -webkit-transition: all 1s ease; 
    transition: all 1s ease;
	}*/
.showPagination{
	background:url(../images/mostrarPaginas.png) top center no-repeat;
	width:100%;
	height:90px;
	top:-29px;
	padding-top:2em;
	position:relative;
	z-index:2;
	text-align:center;	
	cursor:pointer;
    -webkit-transition: all 1s ease; 
    transition: all 1s ease;
	}
.showPagination:hover {
	background:url(../images/mostrarPaginasOver.png) top center no-repeat;
	top:-9.5%;
    -webkit-transition: all 1s ease; 
    transition: all 1s ease;
}
.slideMenuRegulation{

	width:100%;
	height:70px;
	padding-top:5px;
	background-color:rgba(255,255,255,0.8);
	text-align:center;
	position:relative;
	z-index:3;
	top:0%;
    -webkit-transition: all 1s ease; /* For Safari 3.1 to 6.0 */
    transition: all 1s ease;

	}

.slideMenuRegulation .pag1, .slideMenuRegulation .pag2{
/*	background:url(../images/slideMenu.png) no-repeat top left;
*/	background:none !important;
	height:32px;
	width:32px;
	display:inline-block;
	opacity:1;
	font-size:280%;
}
.slideMenuRegulation .pag1:hover, .slideMenuRegulation .pag2:hover, .pag3:hover{
	background:none !important;
	/*background:url(../images/slideMenuActivo.png) no-repeat ;*/
}

.slideMenuRegulation .contador{
	/*font-family: 'Open Sans', sans-serif;*/
	font-size:150%;
	font-style:italic;
	font-weight:lighter;
	color:#000;
	}
.slideMenuRegulation .contador .actual{
	color:#556185 !important;
}	
	
	




	
/* SECTION KEY OF AREAS WORK */		
section.areas{
	font-size:75%;
	width:96%;
	background:#FFF url(../images/fondoAreas.png) no-repeat;
	background-size:contain;
	}
.areas h2{
	font-size:300%;
}
.containerAreas{
	width:100%;

	}

.intro{
	width:25%;
	height:350px;
	float:left;
	margin:68px 5% 0 5%;
}
.intro p{
		font-size:120%;
	}
.refAreas{
	font-style:italic;
	font-size:85%;
	color:#CB2636;
	display:block;
	margin-top:2em;
}

.area1, .area2, .area3, .area4{
	overflow:hidden;
	cursor:pointer;
	width:5%;
	height:450px;
	float:left;
	color:#fff;
	margin-top:110px;
	border-left:1px dotted #0C5498;
    -webkit-transition: width 0.5s ease; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s ease;
}
.area1{
	background:#FFF;
	color:#6EBCEA;
}
.area2{
	background:#556185;

}
.area3{
	background:#6EBCEA;
	color:#fff;
}
.area4{
	background:#CB2636;
	color:#fff;
}

.area1:hover, .area2:hover, .area3:hover, .area4:hover{
	opacity:1;
    -webkit-transition: all 0.5s ease; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s ease;
	}
.area1:hover h3, .area2:hover h3, .area3:hover h3, .area4:hover h3{
	background:url(../images/open2_areas.png) 390px 5px no-repeat;	
}	
.containerAreas h3{
	font-size:200%;
	font-weight:bold;
	display:inline-block;
	width:420px;
	position:relative;
	padding:0;
	top:180px;
	left:-180px;
	text-align:left;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	background:url(../images/open_areas.png) 390px 5px no-repeat;

}
.area1 h3{
	background:url(../images/open_area1.png) 390px 5px no-repeat;	
}
.area1:hover h3{
	background:url(../images/open2_area1.png) 390px 5px no-repeat;	
}

/*	background:url(../images/open_areas.png) 390px 11px no-repeat;*/
.textoArea{
	opacity:0;
}
	
.textoArea ul{
	margin:0;
	padding:0;
	width:100%;
	font-size:120%;
	list-style-type:none;
	margin-top:-10px;
	}
.marginSuperior{
		margin-top:-10px;
	}
	
.activo{
	width:50%;	
    -webkit-transition: all 1s ease; /* For Safari 3.1 to 6.0 */
    transition: all 1s ease;
	}
.activo h3{
	background:url(none) 390px 5px no-repeat;	
}
.activo:hover h3{
	background:url(none) 390px 5px no-repeat;	
}
.activo .textoArea{
	height:450px;
	float:right;
	width:85%;
	margin-left:25px;
    -webkit-transition: all 1s ease; /* For Safari 3.1 to 6.0 */
    transition: all 1s ease;
}
.activo .textoArea{
	opacity:1;
    -webkit-transition-delay: 0.3s; /* Safari */
    transition-delay: 0.3s;
}








/* SECTION TIMELINE */	
	
section.context{
	font-size:75%;
	width:100%;
	/*height:760px
	height:625px;*/
	overflow:hidden;
	background:#374B73 url(../images/walkers.jpg) no-repeat top left;
	background-size:cover;
	}
.context h2{
	color:#FFF;
	border-bottom:1px solid #FFF;
	margin:0.5em 0 0 1%;	
	}
.timeline{
	width:100%;
/*	height:680px;*/
	height:100%;
	overflow:hidden;
}
.timeline:hover .milestones{
/*	width:9.9%;*/
	width:6.66%;
    -webkit-transition: all 0.2s ease; /* For Safari 3.1 to 6.0 */
    transition: all 0.2s ease;
	cursor:pointer;
}
.milestones{
/*	width:14.18%;
	height:680px;*/
	width:14.28%;
	height:100%;
	position:relative;
	border-right:1px dotted #000;
	float:left;
	overflow:hidden;
    -webkit-transition: all 0.2s ease; /* For Safari 3.1 to 6.0 */
    transition: all 0.2s ease;
}
.ultimoMilestones{
	border-right:none;
	}
.milestones:hover{
	width:60% !important;
    -webkit-transition: all 0.2s ease; /* For Safari 3.1 to 6.0 */
    transition: all 0.2s ease;
}
.tituloTimeline{
	color:#FFF;
	margin:0;
	}

.years{
	width:100%;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#FFF;
	background:#FBA61C url(../images/fondoYears.jpg) bottom repeat-x;	
	font-family: sans-serif;
	font-size:160%;
	font-weight:bold;
	margin:0 0 0 0;
	padding:0;
	position:relative;
	top:210px;
    -webkit-transition: all 0.2s ease; /* For Safari 3.1 to 6.0 */
    transition: all 0.2s ease;
	}

.milestones:hover .years{
	font-size:350%;
	padding-top:15px;
	height:60px;
	top:210px;
    -webkit-transition: all 0.2s ease; /* For Safari 3.1 to 6.0 */
    transition: all 0.2s ease;
	z-index:100;
}
.mark{
	background:url(../images/markYear.png) 50% 0px no-repeat;
	background-size:contain;	
	width:100%;
	height:90px;
	display:block;
	position:relative;
	top:-40px;
	padding-top:40px;
    -webkit-transition: all 0.2s ease; /* For Safari 3.1 to 6.0 */
    transition: all 0.2s ease;
}
.milestones:hover .mark{
	height:120px;
    -webkit-transition: all 0.2s ease; /* For Safari 3.1 to 6.0 */
    transition: all 0.2s ease;
	}
.superiorTimeline{
	width:100%;
	height:180px;
	overflow:hidden;
    -webkit-transition: all 0.2s ease; /* For Safari 3.1 to 6.0 */
    transition: all 0.2s ease;
	}
.inferiorTimeline{
	width:100%;
	margin-top:30px;
	padding-top:3em;
	height:425px;
	height:100%;
	background:#B7D7F1;
	opacity:0.8;
    -webkit-transition: all 0.2s ease; /* For Safari 3.1 to 6.0 */
    transition: all 0.2s ease;
	}
.milestones:hover .inferiorTimeline{
	opacity:1;
    -webkit-transition: all 1s ease; /* For Safari 3.1 to 6.0 */
    transition: all 1s ease;
}
.milestones:hover .superiorTimeline{
	margin-top:-20px;
    -webkit-transition: all 0.2s ease; /* For Safari 3.1 to 6.0 */
    transition: all 0.2s ease;
}

ul.timelineTop{
	margin:0;
	padding:0 1em;
	list-style-type:none;
	color:#FFF;
	width:760px;
	}
ul.timelineBottom{
	margin:0;
	padding:0 1em;
	list-style-type:none;
	color:#000;
	width:760px;
	}
.timelineTop li, .timelineBottom li{
	margin:0 0 1em 0;
}
.timelineTop li strong, .timelineBottom li strong{
	font-weight:bold;
	color:#B7D7F1;

	}
	
.timelineTop .year{
	border-bottom:1px solid #FFF;
	display:block;
	font-weight:bold;
	line-height:2em;
	}
.timelineBottom .year{
	border-bottom:1px solid #000;
	display:block;
	font-weight:bold;
	line-height:2em;
	}	
.timelineTop li .banderas, .timelineBottom li .banderas{
	margin-left:2em;	
	}
li.hitos50{
	width:49%;
	float:left;

	}
li.margenHitos{
	margin-left:2%;
	}

div.books {
	text-align:center;
	width:100%;
	height:90px;
	overflow:hidden;
	position:absolute;
	bottom:10%;
	}
div.books img{
	display:inline-block;
	height:90px;
	}
.tituloGrafico{
	font-family: 'Open Sans', sans-serif;
	font-size:250%;
	font-weight:lighter;
	width:240px;
	margin:3em 0 1em 0.5em;
	position:absolute;
	bottom:10%;
	z-index:9999;
	background:#9EBBD8;

	}		
.sinFondo{
	background:none !important;
}	
		
	
	
	
/* SECTION WORK MILESTONES*/	

section.work{
	font-size:75%;
	background:#FFF url(../images/fondoWorkMilestones.png) no-repeat;

}
section.work h2{
	width:30%;
	font-size:400%;
	margin-top:250px;
	margin-left:10%;
	float:left;	
	
    -ms-transform: rotate(-19deg); 
    -webkit-transform: rotate(-19deg); 
    transform: rotate(-19deg);
	 -webkit-transition: all 1s ease-in-out; 
    transition: all 1s ease-in-out;
	}
.wraperWork{
	width:56%;
	height:500px;
	margin-left:40%;
	overflow:hidden;
}
.containerWork{
	width:400%;
	height:500px;
	overflow:hidden;
	
}	
.containerWork .milestonesWork1, .containerWork .milestonesWork2, .containerWork .milestonesWork3, .containerWork .milestonesWork4, .containerWork .milestonesWork5{
	width:20%;
	height:500px;
	padding-left:1em;
	float:left;
	border-left:1px dotted #333;
	margin-top:7em;
}
.containerWork h3{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:600%;
	color:#D52F42;
	margin:0;
}
.containerWork h3 span{
	font-size:75%;
	font-weight:lighter;
}

.containerWork ul{
	
	margin:0;
	padding:0;
	line-height:1.4em;
	list-style-type:none;
	width:auto;
	display:inline-block;
	font-weight:400;
}
.separdor{
	color:#D52F42;	
	font-weight:bold;
	}
.slideMenuWorks{
	width:60%;
	font-size:110%;
	padding:0;
	margin-top:1em;
	margin-left:40%;
	background:url(../images/fondoSlider.png);
	color:#D52F42;
	font-weight:bold;
}
.slideMenuWorks ul{
		padding:0;
		margin:0;
}
.slideMenuWorks li{
	width:12%;
	list-style-type:none;
	text-align:center;
	float:left;
}

.SlideWork1, .SlideWork2, .SlideWork3, .SlideWork4, .SlideWork5{
	display:block;
	padding:1em;
	background:transparent;
	}	
.slideMenuWorks li a:hover{
	color:#000;
	}	
.milestonesWorkActive{
	background:#D52F42 url(../images/arrowYearsWorkMilestones.png) top center no-repeat;	
	color:#FFF;
	display:block;
}
.milestonesWorkActive:hover{
	color:#FFF !important;

}

	
	
	
/* SECTION DIRECTORS*/		
section.directors{
	font-size:75%;
	padding-top:80px;
	background:#556185 url(../images/fondoDirectors.png) no-repeat;
	background-size:cover;
	}
.directors h2{
	position:absolute;
	left:2%;
	font-size:195%;
	color:#FFE3A5;
	}
.directors h2.title1{
	top:139px;
	}
.directors h2.title2{
	top:175px;
	}
.listDirectors{
	background:#556185;	
	margin:0;
	/*margin-top:160px;*/
	font-weight:bold;
	}	
	
.listDirectors li{
	list-style-type:none;
	display:inline-block;
	padding:1em 0;
	margin-left:5%;
	color:#FFF;
	}
.listDirectors li:nth-child(1){
	margin-left:16%;
}
.listDirectors li:nth-child(2){
	margin-left:12%;
}
.listDirectors li:nth-child(3){
	margin-left:2.4%;
	width:7%;
	text-align:center;
}	
.listDirectors li:nth-child(4){
	margin-left:11.2%;
	width:auto;
	text-align:center;
}	
.listDirectors li:nth-child(5){
	margin-left:10.5%;
	width:90px;
	text-align:center;
}


.directorsYear {
	background:url(../images/fondoArrowYears.png) right no-repeat;
	height:100px;
	width:100%;
	padding:1.5em 0;
	margin:-6px 0 0 0;
	}	
.directorsYear li{
	list-style-type:none;
	display:inline-block;
	margin-left:4.7%;
	color:#FFF;
	font-weight:bold;
	background:url(../images/markYearDirectorsMas.png) no-repeat;
	padding-top:0.9em;
	width:52px;
	height:52px;
	font-size:150%;
	text-align:center;
	-webkit-perspective: 600px;
	}
.directorsYear li:hover{
		background:url(../images/markYearDirectorsActivo.png) no-repeat;
		cursor:pointer;
}
.directorsYear li:nth-child(1){
	margin-left:20%;
	background:url(../images/markYearDirectors.png) no-repeat;
	cursor:default;
}
.directorsYear li:nth-child(2){
	background:url(../images/markYearDirectors.png) no-repeat;
	cursor:default;
}




	
.listDeputyDirectors{
	position:relative;
	top:-18px;
	font-weight:bold;
	}
.listDeputyDirectors li {
	list-style-type:none;
	display:inline-block;
	margin-left:5%;
	color:#FFF;
	}
.listDeputyDirectors li:nth-child(1){
	margin-left:15%;
}
.listDeputyDirectors li:nth-child(2){
	margin-left:1.2%;
}	
.listDeputyDirectors li:nth-child(3){
	margin-left:2.3%;
	width:7em;
}	
.listDeputyDirectors li:nth-child(4){
	margin-left:11.5%;
}
.listDeputyDirectors li:nth-child(5){
	margin-left:12.5%;
}
.picturesDirectors{
	text-align:right;
	padding-right:1%;
	width:99%;
}
.picturesDirectors figure{
	display:inline-block;
	color:#FFF;
	text-align:center;
	margin-right:1px;
	padding:0.5em;
	opacity:0.5;
	 -webkit-transition: all 0.5s ease-in-out; 
    transition: all 0.5s ease-in-out;
}
.picturesDirectors figure:hover{
	cursor:pointer;	
	opacity:1 !important;
/*	-webkit-box-shadow: 0 0 12px 0 #FFF;
	box-shadow: 0 0 12px 0 #FFF;*/
	 -webkit-transition: all 0.5s ease-in-out; 
    transition: all 0.5s ease-in-out;
}
.picturesDirectors figure:nth-child(4){
	margin-right:2%;
}
.directorActivo{
	 -webkit-transition: all 0.5s ease-in-out; 
    transition: all 0.5s ease-in-out;
	}
.directorActivo figcaption{
	background:#FCB849;
	color:#000;
	}

	

li.yearActivo{
	background:url(../images/markYearDirectorsActivo.png) no-repeat;
	}
	
	
/* SECTION hightlights */
	
section.hightlights{
	font-size:75%;
	background:#FFF url(../images/fondoDecade.gif) no-repeat;
	background-size:cover;
	}
.hightlights h2{
	color:#FFF;
	margin:0 2% 2% 2%;
	display:none;
	}
.containerHihtlights{
	width:100%;
	min-height:440px;
	overflow:hidden;
}
.containerHihtlights h3{	
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	position:absolute;	
	top:90px;
	font-weight:bolder;
	cursor:pointer;
	color:#FFF;
}
.containerHihtlights h3:hover{
	color:#FCB849;
}


.decades{
	margin-top:50px;
	width:40%;
	margin-left:30%;
}
.decades ul{

}
.decades li{
	display:inline-block;
	list-style-type:none;
	width:100px;
	height:160px;
	margin-bottom:0.5em;
	 -webkit-transition: all 1s ease-in-out; 
    transition: all 1s ease-in-out;
	}
.decades li img{
	opacity:1;
	}	
	
.decade1, .decade2, .decade3, .decade4{

    -webkit-transition: all 1s ease; /* For Safari 3.1 to 6.0 */
    transition: all 1s ease;

}
	
.decadaActiva{
	color:#FCB849 !important;
	background:#3A4461;
	}
.msg{
	color:#FFF;
	margin-top:18%;
	text-align:center;
	}
.containerHihtlights h3.d1:after, .containerHihtlights h3.d3:after {
	content:" ▷";	
	font-size:75%;
}
.containerHihtlights h3.d2:before, .containerHihtlights h3.d4:before {
	content:"◁ ";	
	font-size:75%;
}
.containerHihtlights h3.d1{
	left:10%;
	top:55px;
    -ms-transform: rotate(16deg); /* IE 9 */
    -webkit-transform: rotate(16deg); /* Chrome, Safari, Opera */
    transform: rotate(16deg);
}
.containerHihtlights h3.d2{
	left:70%;
	top:69px;
    -ms-transform: rotate(-16.3deg); /* IE 9 */
    -webkit-transform: rotate(-16.3deg); /* Chrome, Safari, Opera */
    transform: rotate(-16.3deg);
}
.containerHihtlights h3.d3{
	left:10%;
	top:350px;
    -ms-transform: rotate(-18.5deg); /* IE 9 */
    -webkit-transform: rotate(-18.5deg); /* Chrome, Safari, Opera */
    transform: rotate(-18.5deg);
}
.containerHihtlights h3.d4{
	left:70%;
	top:275px;
    -ms-transform: rotate(15.9deg); /* IE 9 */
    -webkit-transform: rotate(15.9deg); /* Chrome, Safari, Opera */
    transform: rotate(15.9deg);
}
	
	
	
	
	

	
	
	
	
/* SECTION FACTS */

section.facts{
	font-size:75%;
	background:#F5F0E5 url(../images/fondoFacts.png) no-repeat;

	}
section.facts h2{
	margin-left:18%;
	color:#6EBCE9;
	}
.containerFacts{
	width:76%;
	margin:0 5% 0 18%;
	height:640px;
	overflow:hidden;
	}	
.containerFactsText{
	width:200%;
	margin:0;
	padding:0;
	}
ul.factsItem{
	width:100%;
	height:540px;
	margin:0;
	padding:0;
	
	list-style-type:none;
	-webkit-column-count: 6; /* Chrome, Safari, Opera */
    -moz-column-count: 6; /* Firefox */
    column-count: 6;
	
	-webkit-column-gap: 2rem; /* Chrome, Safari, Opera */
    -moz-column-gap: 2rem; /* Firefox */
    column-gap: 2rem;
	
	counter-reset:section;

	}
ul.factsItem li:before{
	counter-increment: section;
    content: counter(section) " ";
	color:#6EBCE9;
	font-weight:bold;
	font-size:150%;
	display:inline-block;
	width:2em;
	margin-left:-2em;
}



ul.factsItem li{
	width:90%;
	margin:0 0 1em 3em;
	display:inline-block;
	overflow:visible;
	}
ul.factsItem li img{
	float:right;
	width:18%;
	margin:2px;
}
ul.factsItem li img.imgHorizontal{
	width:159px;
	float:none;
	margin:2px;
	vertical-align:text-top;
}

.generico{
	float:left;
	margin-top:30%;
	margin-left:5%;
}
ul.factsItem li:nth-child(odd){
	background:#EDF5FC;	
}
.slideMenuFacts{
	width:100%;
	height:22px;
	text-align:center;
	position:relative;
	z-index:2;

	}

.slideMenuFacts .pag1, .slideMenuFacts .pag2{
/*	background:url(../images/slideMenu.png) no-repeat top left;
*/	background:none !important;
	height:32px;
	width:32px;
	display:inline-block;
	opacity:1;
	font-size:200%;
}
.slideMenuFacts .pag1:hover, .slideMenuFacts .pag2:hover, .pag3:hover{
	background:none !important;
	/*background:url(../images/slideMenuActivo.png) no-repeat ;*/
}

.slideMenuFacts .contador{
/*	font-family: 'Open Sans', sans-serif;
*/	font-size:150%;
	font-style:italic;
	font-weight:lighter;
	}
.slideMenuFacts .contador .actual{
	color:#556185 !important;
}


.animateActual{
	opacity:0.2;
	transition: all 1s;
     -moz-transition: all 1s;
     -webkit-transition: all 1s;
     -o-transition: all 1s;
	}

/* SECTION TESTIMONIES */

section.testimonies{
	font-size:75%;
	background:#FFF url(../images/fondoTestimonies.png) no-repeat;	
	width:100%;

	}
.testimonies h2{
	display:none;
	}
.articleTestimonies{
	width:100%;
	height:600px;
	overflow:hidden;
}
.containerTestimonies{
	width:200%;

	margin:0 2%;
	text-align:center;
}
.containerPags1{
	width:50%;

	float:left;


}
.containerPags2{
	width:48.5%;

	float:left;
}	
.columna2{
	float:left;
	text-align:left;
	width:48%;
	height:300px;
	padding:1%;
	vertical-align:text-top;
}	
.columna3{
	float:left;
	text-align:left;
	width:31%;
	height:300px;
	padding:1%;
	vertical-align:text-top;
}
.columnaTotal3{
	float:left;
	text-align:left;
	width:74.5%;
	height:300px;
	padding:1%;
	vertical-align:text-top;
}		
.columna4{
	float:left;
	text-align:left;
	width:24%;
	height:300px;
	padding:1%;
	vertical-align:text-top;
}
.columna4 p{
	word-wrap: break-word;
}
.textoBottom{
	padding-top:12%;
	}
.textoMiddle{
	padding-top:6%;
	}	
.fondoAzul{
	color:#E3F2FB;
	}
.fondoCrema{
	background:#F0EADD;
	}
		

.autor{
	font-weight:bold;
	display:block;
	margin-top:1em;
	color:#CB2636;
	}
.cargo{
	font-style:italic;
	font-size:90%;
	color:#CB2636;
}

.fondoAzul .autor{
	color:#FFF;
	}
.fondoAzul .cargo{
	color:#FFF;
	}
	
.slideMenuTestimonies{
	width:96%;
	height:42px;
	text-align:center;
	position:relative;
	z-index:2;
	background:#FFF;
	clear:both;
	}
.slideMenuTestimonies .pag1, .slideMenuTestimonies .pag2{
/*	background:url(../images/slideMenu.png) no-repeat top left;
*/	background:none !important;
	height:32px;
	width:32px;
	display:inline-block;
	opacity:1;
	font-size:200%;
}
.pag1:hover, .pag2:hover{
	background:none !important;
	/*background:url(../images/slideMenuActivo.png) no-repeat ;*/
}

.slideMenuTestimonies .contador{
/*	font-family: 'Open Sans', sans-serif;
*/	font-size:150%;
	font-style:italic;
	font-weight:lighter;
	}
.slideMenuTestimonies .contador .actual{
	color:#556185 !important;
}



















	
	
section.summary{
	font-size:75%;
	margin-bottom:1em;
	background:#FFF;

	}
section.summary h2{
	padding-left:1.1em;

	}
.containerSummary{
/*	-webkit-column-count: 2; 
    -moz-column-count: 2;
    column-count: 2;
	
	-webkit-column-gap: 2rem; 
    -moz-column-gap: 2rem; 
    column-gap: 2rem;*/
	width:98%;
	height:415px;
}
.containerSummary figure {
		width:44%;
	float:left;
	}
.textSummary{
	width:44%;
	float:left;
	}

.containerSummary p{
	font-size:110%;

	}
.separacionParrafos{
	height:2em;
	}
.parrafosLogos{
	margin-top:4em;
	text-align:center;
/*	clear:both;
	width:96%;
	margin-left:2%;*/
}
/*.parrafosLogos img + img{
	margin-left:37%;
}*/
.comillasSummary{
	font-size:150%;
	}
.primerasComillasSummary{
	font-size:150%;
	margin-left:-10px;
	}



footer{
	text-align:center;
	width:100%;
	height:220px;
	padding-top:2em;
}
.columnaPie{
	float:left;
	text-align:left;
	width:24%;
	height:300px;
	padding:1%;
	vertical-align:text-top;
}
footer .columnaPie p{
	margin-left:4%;
	}
.top{
	right:2%;
	bottom:20px;
	position: fixed;
}
.top a{
	background:url(../images/top.png);
	display:block;
	height:34px;
	width:34px;
	}

.redesSociales{
	
	}
.redesSociales ul li{
	list-style-type:none;
	padding-left:3em;
	padding-top:4px;
	min-height:29px;
}
.redesSociales ul li:nth-child(1){
	background:url(../images/iconos-pie.png) 0px 0px no-repeat;
}
.redesSociales ul li:nth-child(2){
	background:url(../images/iconos-pie.png) 0px -33px no-repeat;
}
.redesSociales ul li:nth-child(3){
	background:url(../images/iconos-pie.png) 0px -67px no-repeat;
}
.redesSociales ul li:nth-child(4){
	background:url(../images/iconos-pie.png) 0px -104px no-repeat;
}
.redesSociales ul li:nth-child(5){
	background:url(../images/iconos-pie.png) 0px -141px no-repeat;
}
.redesSociales ul li:nth-child(6){
	background:url(../images/iconos-pie.png) 0px -177px no-repeat;
}
.redesSociales ul li:nth-child(7){
	background:url(../images/iconos-pie.png) 0px -208px no-repeat;
}
/*----leer mas----*/
a.leerMas{
	display:none;
	}







